.widget {
  width: 100%;
  min-height: 70vh;
  background-color: #1b262d;
  /* box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important; */
}

.widget-head {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  text-align: left;
}

hr {
  margin: 0;
  border-color: #969b9e;
}

.order-container {
  display: flex;
  width: 100%;
  padding: 12px 0px;
}

.order-container table {
  align-self: start;
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  text-align: right;
}

h1,
h2 {
  text-align: center;
}

td,
th {
  padding: 6px;
  font-weight: 400;
}

th {
  font-weight: bold;
}

td,th.c {
  text-align: center;
}

.order-container .t-body tr:hover {
  background-color: #28343a;
}

.bids {
  color: #7fc97f;
}

.asks {
  color: #ff6c6c;
}